.dark {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: grayscale(1);
  backdrop-filter: grayscale(1);
}

.goodContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.goodCard {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: 0.1s ease box-shadow;
  padding-top: 10px;
}

.goodInfo {
  width: 67%;
}

.goodCard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-top: 10px;
}

.goodImg {
  height: 230px;
  width: 230px;
  filter: brightness(0.95);
}

.goodNotInStockImg {
  height: 230px;
  width: 230px;
  filter: brightness(0.95);
  opacity: 0.4;
  position: relative;
}

.warning {
  position: absolute;
  font-weight: 400;
  font-size: 20px;
  opacity: 0.6;
}

.goodName {
  font-style: Raleway;
  font-size: 22px;
}

.goodPrice {
  font-style: Raleway;
  font-size: 18px;
  font-weight: 500;
}

.catName {
  padding-top: 20px;
  font-style: Raleway;
  font-size: 40px;
  font-weight: 400;
  width: 12%;
  text-align: center;
}
